# This workflow will install Python dependencies and run a SourceClear scan for
# vulnerabilities.

name: Vulnerability Scan

# Run on PR to master
on:
  pull_request:
    branches:
        - master

jobs:
  scan:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.11
      uses: actions/setup-python@v5
      with:
        python-version: "3.11"
    - name: Install uv
      uses: astral-sh/setup-uv@v4
    - name: Install dependencies
      run: |
        make install

        # Export requirements.txt; SourceClear uses it to scan dependencies.
        uv pip compile pyproject.toml -o requirements.txt
    - name: Run SourceClear CI.
      env:
        SRCCLR_API_TOKEN: ${{ secrets.SRCCLR_API_TOKEN }}
      run: curl -sSL https://download.sourceclear.com/ci.sh | bash
